.modalContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(35, 35, 35);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modalContent {
  border-radius: 8px;
  height: 75vh;
  width: 400px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

@media (min-width: 800px) {
  .modalContent {
    height: 95vh;
  }
}

.modalHeader,
.userDetails,
.modalControls {
  display: flex;
}

.modalHeader {
  justify-content: space-between;
}

.modalControls {
  gap: 15px;
  align-items: center;
}

.modalControls > i {
  cursor: pointer;
}

.userDetails {
  gap: 10px;
}

.userDetails > img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.userDetails > p {
  font-size: 0.875rem;
  align-self: center;
}

.timeStamp {
  color: gray;
  font-weight: 400;
}

.progressContainer {
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  height: 3px;
  margin-bottom: 15px;
}

.progressBar {
  flex: 1;
  margin-right: 4px;
}

.progressBar:last-child {
  margin-right: 0;
}

.modalFooter {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  align-items: center;

  position: relative;
}

.highlightCommentBtn {
  position: absolute;
  top: 9px;
  right: 20px;
  background: none;
  border: none;
  font-weight: bolder;
}

.modalFooter > input {
  flex: 1;
  height: 35px;
  border-radius: 12px;
  outline: none;
  border: 1px solid white;
  background: transparent;
  padding-left: 15px;
}

.modalFooter > input::placeholder {
  color: white;
}

.modalFooter > i {
  font-size: 1.25rem;
}

.exitBotton {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 8px;
  margin-top: 8px;
  font-size: 1.6rem;
  cursor: pointer;
  font-weight: bold;
}

.previousImage {
  position: absolute;
  right: 460px;
  top: 42.5vh;
  cursor: pointer;
}

.nextImage {
  position: absolute;
  left: 460px;
  top: 42.5vh;
  cursor: pointer;
}
