.profilePic {
  display: block;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.userName {
  font-size: 0.85rem;
}

.highlightContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gradientBorder {
  display: inline-block;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  border-radius: 50%;
  padding: 3px;
}
