.navigation {
  position: fixed;
  width: 250px;
  height: 100vh;
  padding: 25px 12px 26px 25px;
  border-right: 1px solid white;
  /* Flexbox */
  justify-content: space-between;
}

.navigation,
.navigationLinks {
  display: flex;
  flex-direction: column;
}

.navigationLinks {
  gap: 14px;
}

.logo img {
  width: 120px;
}

.link {
  text-decoration: none;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  width: 200px;
}

.link:hover {
  border-radius: 7px;
  background-color: rgb(34, 34, 34);
}

.icon {
  width: 18px;
  margin-right: 13px;
  margin-left: 10px;
  position: relative;
}

.messageNotificationIcon {
  bottom: 10px;
  width: 15px;
  height: 15px;
  color: white;
  text-align: center;
  line-height: 15px;
  font-size: 8px;
}

.messageNotificationIcon,
.generalNotificationIcon {
  position: absolute;
  left: 10px;
  border-radius: 50%;
  background-color: red;
}

.generalNotificationIcon {
  bottom: 8px;
  width: 10px;
  height: 10px;
}

@media screen and (max-width: 1145px) {
  .fullText {
    display: none;
  }

  .logo img {
    margin-left: 12px;
  }

  .mainLogo {
    width: 25px !important;
  }

  .navigation {
    width: 100px;
  }

  .link {
    width: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .icon {
    margin-left: 5px;
  }
}

@media screen and (max-width: 890px) {
  .navigation {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    border-right: none;
    border-top: 1px solid gray;
  }

  .navigation,
  .navigationLinks {
    flex-direction: row;
    background-color: black;
    z-index: 4;
  }

  .logo img {
    margin-top: 10px;
    display: none;
  }
}
